@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@-moz-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -moz-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -moz-transform: scale3d(.3, .3, .3);
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@mixin zoomOut {
  -moz-animation-name: zoomOut;
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}
