// == Variables
$lato-font-path        : $fonts;
$lato-font-family-name : 'LatoWeb';

// == Lato 2.0 WebFont
/* LatoWeb: black */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-black.eot');
    src: url('#{$lato-font-path}lato-black.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-black.woff2') format('woff2'),
         url('#{$lato-font-path}lato-black.woff') format('woff'),
         url('#{$lato-font-path}lato-black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
 // text-rendering: optimizeLegibility;
 // text-rendering: auto;
}

/* LatoWeb: black italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-blackitalic.eot');
    src: url('#{$lato-font-path}lato-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-blackitalic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-blackitalic.woff') format('woff'),
         url('#{$lato-font-path}lato-blackitalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
 // text-rendering: optimizeLegibility;
 // text-rendering: auto;
}

/* LatoWeb: heavy */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-heavy.eot');
    src: url('#{$lato-font-path}lato-heavy.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-heavy.woff2') format('woff2'),
         url('#{$lato-font-path}lato-heavy.woff') format('woff'),
         url('#{$lato-font-path}lato-heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
 // text-rendering: optimizeLegibility;
 // text-rendering: auto;
}

/* LatoWeb: heavy italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-heavyitalic.eot');
    src: url('#{$lato-font-path}lato-heavyitalic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-heavyitalic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-heavyitalic.woff') format('woff'),
         url('#{$lato-font-path}lato-heavyitalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 800;
 // text-rendering: optimizeLegibility;
 // text-rendering: auto;
}

/* LatoWeb: bold */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-bold.eot');
    src: url('#{$lato-font-path}lato-bold.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-bold.woff2') format('woff2'),
         url('#{$lato-font-path}lato-bold.woff') format('woff'),
         url('#{$lato-font-path}lato-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700; // aka 'bold'
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: bold italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-bolditalic.eot');
    src: url('#{$lato-font-path}lato-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-bolditalic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-bolditalic.woff') format('woff'),
         url('#{$lato-font-path}lato-bolditalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700; // aka 'bold'
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: semibold */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-semibold.eot');
    src: url('#{$lato-font-path}lato-semibold.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-semibold.woff2') format('woff2'),
         url('#{$lato-font-path}lato-semibold.woff') format('woff'),
         url('#{$lato-font-path}lato-semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: semibold italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-semibolditalic.eot');
    src: url('#{$lato-font-path}lato-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-semibolditalic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-semibolditalic.woff') format('woff'),
         url('#{$lato-font-path}lato-semibolditalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: medium */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-medium.eot');
    src: url('#{$lato-font-path}lato-medium.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-medium.woff2') format('woff2'),
         url('#{$lato-font-path}lato-medium.woff') format('woff'),
         url('#{$lato-font-path}lato-medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: medium italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-mediumitalic.eot');
    src: url('#{$lato-font-path}lato-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-mediumitalic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-mediumitalic.woff') format('woff'),
         url('#{$lato-font-path}lato-mediumitalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: regular */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-regular.eot');
    src: url('#{$lato-font-path}lato-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-regular.woff2') format('woff2'),
         url('#{$lato-font-path}lato-regular.woff') format('woff'),
         url('#{$lato-font-path}lato-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-italic.eot');
    src: url('#{$lato-font-path}lato-italic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-italic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-italic.woff') format('woff'),
         url('#{$lato-font-path}lato-italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: light */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-light.eot');
    src: url('#{$lato-font-path}lato-light.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-light.woff2') format('woff2'),
         url('#{$lato-font-path}lato-light.woff') format('woff'),
         url('#{$lato-font-path}lato-light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: light italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-lightitalic.eot');
    src: url('#{$lato-font-path}lato-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-lightitalic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-lightitalic.woff') format('woff'),
         url('#{$lato-font-path}lato-lightitalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: thin */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-thin.eot');
    src: url('#{$lato-font-path}lato-thin.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-thin.woff2') format('woff2'),
         url('#{$lato-font-path}lato-thin.woff') format('woff'),
         url('#{$lato-font-path}lato-thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: thin italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-thinitalic.eot');
    src: url('#{$lato-font-path}lato-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-thinitalic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-thinitalic.woff') format('woff'),
         url('#{$lato-font-path}lato-thinitalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
    // text-rendering: optimizeLegibility;
    // text-rendering: auto;
}

/* LatoWeb: hairline */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-hairline.eot');
    src: url('#{$lato-font-path}lato-hairline.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-hairline.woff2') format('woff2'),
         url('#{$lato-font-path}lato-hairline.woff') format('woff'),
         url('#{$lato-font-path}lato-hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
 // text-rendering: optimizeLegibility;
 // text-rendering: auto;
}

/* LatoWeb: hairline italic */
@font-face {
    font-family: '#{$lato-font-family-name}';
    src: url('#{$lato-font-path}lato-hairlineitalic.eot');
    src: url('#{$lato-font-path}lato-hairlineitalic.eot?#iefix') format('embedded-opentype'),
         url('#{$lato-font-path}lato-hairlineitalic.woff2') format('woff2'),
         url('#{$lato-font-path}lato-hairlineitalic.woff') format('woff'),
         url('#{$lato-font-path}lato-hairlineitalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
 // text-rendering: optimizeLegibility;
 // text-rendering: auto;
}
