// == Imports
// ==================================================

// == Variables and mixins
@import 'variables';
@import 'mixins';

// == Partials (in the exact order as below)
@import 'animate';
@import 'bootstrap';
@import 'fontawesome/font-awesome';
@import 'lato-font';
// @import 'josefinsans-font';
@import 'fonts';
// @import 'colorbox';
// @import 'jssor-slider';
// @import 'flexslider';
// @import 'slick';
@import 'base';
@import 'styles';
