;;;;
; npm userconfig file for specific project
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

browser = start
color = always
depth = 0
editor = atom.exe
global = false
init-author-email = tc@tmmc.pl
init-author-name = TMMC
init-author-url = http://www.tmmc.pl/
init-license = MIT
init-version = 0.1.0
parseable = true
save-prefix = ^
viewer = browser
