@include keyframes(rubberBand, $_vendors) {
  from {
    @include prefix((transform: scale3d(1, 1, 1)), $_vendor-prefixes);
  }

  30% {
    @include prefix((transform: scale3d(1.25, 0.75, 1)), $_vendor-prefixes);
  }

  40% {
    @include prefix((transform: scale3d(0.75, 1.25, 1)), $_vendor-prefixes);
  }

  50% {
    @include prefix((transform: scale3d(1.15, 0.85, 1)), $_vendor-prefixes);
  }

  65% {
    @include prefix((transform: scale3d(.95, 1.05, 1)), $_vendor-prefixes);
  }

  75% {
    @include prefix((transform: scale3d(1.05, .95, 1)), $_vendor-prefixes);
  }

  to {
    @include prefix((transform: scale3d(1, 1, 1)), $_vendor-prefixes);
  }
};

@mixin rubberBand {
  -webkit-animation-name: rubberBand;
  -moz-animation-name: rubberBand;
  animation-name: rubberBand;
}
