// == Parallax images
@mixin parallax() {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  @media (max-width: $grid-float-breakpoint-max) {
    body & {
      background-position: 50% 50% !important;
    }
  }
  background-size: cover;
  position: relative;
}
