// $animation-src-location: './source' !default;
$animation-duration-time: 1s !default;
$animation-delay-time: 0s !default;
$animation-fill-mode: both !default;

$extra-duration-time: .75s !default;
$hinge-duration-time: 2s !default;
